@import '../../services/mixins.scss';
@import '../../services/colors.scss';

.SalaryStep {
  margin: 0;

  @include fl-col;
}
.SalaryStep__topText {
  margin-bottom: 20px;
  font-size: 30px;
}
.SalaryStep__bottomText {
  font-size: 30px;
}
.SalaryStep__buttonContainer {
  margin-bottom: 20px;
}