@import '../../services/mixins.scss';
@import '../../services/colors.scss';


.Button {
  @include fl-ja(center, center);

  width: 100%;
  font-size: 1.5em;
  font-family: inherit;
  padding: 0;
  border: 2px solid $ebb;
  border-radius: 3px;
  background: transparent;
  color: inherit;
  height: 50px;
  text-decoration: none;

  &:disabled {
    background-color: rgba(230, 224, 224, 0.5);
    border: 2px solid rgba(230, 224, 224, 0.5);
  }

  @include desktop {
    &:hover {
      background-color: rgba(230, 224, 224, 0.5);
      border: 2px solid rgba(230, 224, 224, 0.5);
      outline: none;
      color: $shark;
    }
  }

  @include phone_tablet {
    &:active {
      background-color: rgba(230, 224, 224, 0.5);
      border: 2px solid rgba(230, 224, 224, 0.5);
      outline: none;
      color: $shark;
    }
  }
}

.Button_disabled {
  background-color: rgba(230, 224, 224, 0.5);
  border: 2px solid rgba(230, 224, 224, 0.5);
}

.Button_fullHeight {
  height: 100%;
  display: flex;
};
