@import '../../services/customNormalizeResetByEH.scss';
@import '../../services/colors.scss';
@import '../../services/mixins.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
.App,
#root > [data-radium] {
  height: 100%;
  min-width: 375px;
  min-height: 667px;
}

.App {
  text-align: center;
  background-color: $shark;
  padding: 40px 10px 10px;
  color: $ebb;

  @include fl-jc(center);
}

@include phone_tablet {
  .App {
    padding: 15px 10px;
  }
}

@include desktop {
  .App {
    min-height: 800px;
  }
}

@include tablet {
  .App {
    min-height: 700px;
  }
}

.container {
  width: 100%;

  @include fl-col;

  @include tablet_desktop {
    max-width: 600px;
  }
}