@import '../../services/mixins.scss';
@import '../../services/colors.scss';


.AppStepManager {
  margin-bottom: 20px;
  flex-grow: 1;

  @include fl-col();
}


.link {
  text-decoration: none;
  color: $ebb;
}

.linkContainer {
  margin-bottom: 20px;
}

@media (max-height: 695px) {
  .AppStepManager {
    margin-bottom: 12.5px;
  }
}